.container-comment{
    /* background-color: none;
    width: auto;
    height: auto;
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 70px; */
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 8px;
    max-width: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.container-div{
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}